databases:
  - name: ai-news-aggregator-db
    databaseName: ai_news_aggregator
    user: ai_news_user
    plan: starter

services:
  - type: cron
    name: ai-news-aggregator-job
    env: python
    runtime: python
    plan: starter
    region: oregon
    schedule: "0 12 * * *"
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: DATABASE_URL
        fromDatabase:
          name: ai-news-aggregator-db
          property: connectionString
      - key: GEMINI_API_KEY
        sync: false
      - key: EMAIL_FROM
        sync: false
      - key: EMAIL_TO
        sync: false
      - key: EMAIL_PASSWORD
        sync: false
